In [6]:
import pandas as pd
import numpy as np

In [2]:
pd.read_csv('x_test.csv')

,ID,DATE,STOCK,INDUSTRY,INDUSTRY_GROUP,SECTOR,SUB_INDUSTRY,RET_1,VOLUME_1,RET_2,...,RET_16,VOLUME_16,RET_17,VOLUME_17,RET_18,VOLUME_18,RET_19,VOLUME_19,RET_20,VOLUME_20
0,418595,2,0,37,12,5,94,0.020208,0.146176,0.010059,...,0.022364,-0.301163,-0.001035,-0.416533,-0.000148,-0.004548,-0.000148,-0.161792,0.016997,-0.007221
1,418596,2,1,15,4,3,37,0.009134,-0.251631,0.021913,...,-0.002062,-0.679724,-0.001544,-0.408979,0.001546,0.396372,-0.007875,-0.431760,0.001742,-0.574228
2,418597,2,4,57,20,8,142,0.005008,-0.115845,0.005914,...,0.004458,-0.451590,0.011481,-0.536967,0.009520,-0.368585,0.000000,0.022713,-0.002066,-0.207362
3,418598,2,5,35,12,5,91,0.015370,-0.090295,-0.013738,...,-0.010984,-0.039714,0.037018,0.665132,-0.003097,0.141991,-0.008191,-0.172382,0.005145,-0.353172
4,418599,2,6,57,20,8,142,0.011419,-0.289027,0.022807,...,0.001045,-0.565747,0.004304,-0.506291,-0.026469,-0.280666,0.010743,0.365773,-0.011134,0.933284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198424,617019,222,5707,52,18,7,122,0.010188,-0.476830,-0.006419,...,-0.001028,-0.515748,0.019115,0.361119,-0.002090,-0.132224,0.015389,-0.014298,-0.008680,0.128657
198425,617020,222,5710,33,10,4,83,-0.000838,-0.063269,-0.026928,...,-0.007136,-0.203097,0.032965,0.108639,0.013488,-0.458271,0.019894,-0.353293,0.013513,-0.219671
198426,617021,222,5714,49,17,7,113,0.005941,-0.506350,-0.016363,...,-0.016931,0.340198,0.002121,1.087437,-0.012910,1.791362,-0.057857,6.330687,-0.000493,1.175063
198427,617022,222,5715,56,20,8,138,0.001775,-0.530113,-0.014214,...,0.019386,2.046782,0.023299,0.229290,-0.020338,0.061626,0.022176,-0.414312,-0.000692,-0.293960
198428,617023,222,5716,50,17,7,114,-0.008352,-0.506224,0.006073,...,-0.007219,-0.002671,0.009992,-0.250345,-0.007770,0.408225,0.027816,0.269808,0.009172,0.291961

In [3]:
test = pd.read_csv('x_test.csv')
test

,ID,DATE,STOCK,INDUSTRY,INDUSTRY_GROUP,SECTOR,SUB_INDUSTRY,RET_1,VOLUME_1,RET_2,...,RET_16,VOLUME_16,RET_17,VOLUME_17,RET_18,VOLUME_18,RET_19,VOLUME_19,RET_20,VOLUME_20
0,418595,2,0,37,12,5,94,0.020208,0.146176,0.010059,...,0.022364,-0.301163,-0.001035,-0.416533,-0.000148,-0.004548,-0.000148,-0.161792,0.016997,-0.007221
1,418596,2,1,15,4,3,37,0.009134,-0.251631,0.021913,...,-0.002062,-0.679724,-0.001544,-0.408979,0.001546,0.396372,-0.007875,-0.431760,0.001742,-0.574228
2,418597,2,4,57,20,8,142,0.005008,-0.115845,0.005914,...,0.004458,-0.451590,0.011481,-0.536967,0.009520,-0.368585,0.000000,0.022713,-0.002066,-0.207362
3,418598,2,5,35,12,5,91,0.015370,-0.090295,-0.013738,...,-0.010984,-0.039714,0.037018,0.665132,-0.003097,0.141991,-0.008191,-0.172382,0.005145,-0.353172
4,418599,2,6,57,20,8,142,0.011419,-0.289027,0.022807,...,0.001045,-0.565747,0.004304,-0.506291,-0.026469,-0.280666,0.010743,0.365773,-0.011134,0.933284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198424,617019,222,5707,52,18,7,122,0.010188,-0.476830,-0.006419,...,-0.001028,-0.515748,0.019115,0.361119,-0.002090,-0.132224,0.015389,-0.014298,-0.008680,0.128657
198425,617020,222,5710,33,10,4,83,-0.000838,-0.063269,-0.026928,...,-0.007136,-0.203097,0.032965,0.108639,0.013488,-0.458271,0.019894,-0.353293,0.013513,-0.219671
198426,617021,222,5714,49,17,7,113,0.005941,-0.506350,-0.016363,...,-0.016931,0.340198,0.002121,1.087437,-0.012910,1.791362,-0.057857,6.330687,-0.000493,1.175063
198427,617022,222,5715,56,20,8,138,0.001775,-0.530113,-0.014214,...,0.019386,2.046782,0.023299,0.229290,-0.020338,0.061626,0.022176,-0.414312,-0.000692,-0.293960
198428,617023,222,5716,50,17,7,114,-0.008352,-0.506224,0.006073,...,-0.007219,-0.002671,0.009992,-0.250345,-0.007770,0.408225,0.027816,0.269808,0.009172,0.291961

In [259]:
#test.mean()
#((test.var()/test.mean()))

In [260]:
#test.var(axis=1)

In [261]:
temp = test.drop(test.columns[1:7],axis =1)
drop_id = list(range(2,temp.shape[1],2))
print(drop_id)
Ret = temp.drop(temp.columns[drop_id], axis = 1)
Ret['var/mean'] =Ret.iloc[:, 1:Ret.shape[1]].var(axis=1)/(Ret.iloc[:, 1:Ret.shape[1]].mean(axis=1))
mx = max(Ret['var/mean'])
Ret.loc[Ret['var/mean'] == mx]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

,ID,RET_1,RET_2,RET_3,RET_4,RET_5,RET_6,RET_7,RET_8,RET_9,...,RET_12,RET_13,RET_14,RET_15,RET_16,RET_17,RET_18,RET_19,RET_20,var/mean
69581,488176,-0.023932,-0.002035,0.00075,0.006364,-0.009191,0.006779,-0.004925,0.004301,0.009443,...,0.001433,0.012165,-0.012454,0.039171,-0.009529,-0.012435,0.000224,-0.005572,-0.014929,7996.604425

In [262]:
#test.loc[test['RET_2'].isnull()]

In [263]:
#test.loc[test['STOCK']==895]

In [264]:
test.DATE.unique()

array([  2,   3,   8,  12,  13,  15,  16,  17,  23,  24,  26,  27,  29,
        30,  31,  37,  45,  63,  66,  72,  73,  78,  79,  83,  87,  95,
       102, 106, 112, 113, 114, 118, 119, 126, 131, 132, 133, 139, 140,
       145, 151, 152, 155, 157, 159, 162, 167, 170, 172, 175, 176, 178,
       185, 187, 190, 191, 192, 199, 200, 201, 205, 207, 212, 215, 216,
       217, 219, 222])

In [265]:
test.INDUSTRY.unique()

array([37, 15, 57, 35,  1,  2, 10, 36, 18, 13, 48, 53, 29, 54,  6, 50, 70,
       31, 41, 11, 14,  0, 52, 22,  3, 26, 16, 56, 59, 71, 44, 62, 64, 47,
       58, 40, 25, 42, 33, 43, 46, 45, 60, 23, 49,  8, 55, 28, 17, 27, 32,
       63, 39, 19, 34, 30, 68, 20, 38,  7, 69,  5,  9, 24,  4, 72, 12, 61,
       21, 74, 51, 73, 66, 65, 67])

In [266]:
test.INDUSTRY_GROUP.unique()

array([12,  4, 20,  1,  3,  5, 17, 19,  9,  2, 25, 10, 14,  0, 18,  6,  7,
       21, 15, 22, 23, 16,  8, 13, 11, 26, 24])

In [267]:
test.STOCK.unique()

array([   0,    1,    4, ..., 1467, 1419, 1423])

In [268]:
test.SECTOR.unique()

array([ 5,  3,  8,  1,  7,  4,  2, 10,  6,  0,  9, 11])

In [269]:
test.SUB_INDUSTRY.unique()

array([ 94,  37, 142,  91,   2,   4,   7,  27,  92,  44,  31,   5, 112,
       126,  72, 132, 135,  17, 115, 167,  76,  99,  28,  34, 141,   0,
       123, 121,  70,  49,   9,  60,  42,   6,  29, 139, 143, 146, 168,
        10, 105, 154, 157, 109, 144,  97,  58,  93, 103,  82, 104, 108,
       120, 128, 106, 148,  33, 100, 150,  51,  19, 138, 113,  25, 137,
        79,  75, 122,  67,  68,  98,  43,  66, 101, 114,  39,  78, 124,
       153,  22,  41,   8,  64,  12, 155,  35, 151,  69, 131, 145,  73,
        96,  45,  87,  74, 165,  47,  95,  16, 119,  24, 166, 125,  20,
        15,  81,  38, 116,  80, 130, 102,  26,   1, 136,  61,  57,  13,
       169,  71, 111,  54,  30, 156,  84,  88, 110,   3, 107,  86,  55,
        77,  59,  11,  85, 149,  46,  14,  56,  50, 152,  83,  53,  90,
        23,  63,  89,  40,  52,  62, 133, 134,  65, 129, 147, 127,  48,
       170, 179,  32,  21, 117, 118, 181, 174, 182, 171, 177, 175, 173,
       178, 172, 176, 180,  18, 162, 163, 161, 160, 159, 164, 140, 158])

In [270]:
'''def var_over_mean(x):
    return x.var()/x.mean()
new_features = []
shifts = [2,3,4,5]  # Choose some different shifts\n",
statistics = ['mean', 'var', var_over_mean]  # the type of stat\n",
gb_features = ['SECTOR', 'DATE']
target_feature = 'RET'
tmp_name = '_'.join(gb_features)
for shift in shifts:
    for stat in statistics:
        name = f'{target_feature}_{shift}_{tmp_name}_{stat}'
        feat = f'{target_feature}_{shift}'
        new_features.append(name)
        for data in [test]:
            data[name] = data.groupby(gb_features)[feat].transform(stat)
'''

#

'def var_over_mean(x):\n    return x.var()/x.mean()\nnew_features = []\nshifts = [2,3,4,5]  # Choose some different shifts\n",\nstatistics = [\'mean\', \'var\', var_over_mean]  # the type of stat\n",\ngb_features = [\'SECTOR\', \'DATE\']\ntarget_feature = \'RET\'\ntmp_name = \'_\'.join(gb_features)\nfor shift in shifts:\n    for stat in statistics:\n        name = f\'{target_feature}_{shift}_{tmp_name}_{stat}\'\n        feat = f\'{target_feature}_{shift}\'\n        new_features.append(name)\n        for data in [test]:\n            data[name] = data.groupby(gb_features)[feat].transform(stat)\n'

In [271]:

test
#Max var/mean
#Industry_GROUP and Date for i=2-5 26.89, 868.190, 29.6683, 152.90
#SECTOR_GROUP and date for 2-5 19.55, 9.8107,38.652, 63.5263

,ID,DATE,STOCK,INDUSTRY,INDUSTRY_GROUP,SECTOR,SUB_INDUSTRY,RET_1,VOLUME_1,RET_2,...,RET_16,VOLUME_16,RET_17,VOLUME_17,RET_18,VOLUME_18,RET_19,VOLUME_19,RET_20,VOLUME_20
0,418595,2,0,37,12,5,94,0.020208,0.146176,0.010059,...,0.022364,-0.301163,-0.001035,-0.416533,-0.000148,-0.004548,-0.000148,-0.161792,0.016997,-0.007221
1,418596,2,1,15,4,3,37,0.009134,-0.251631,0.021913,...,-0.002062,-0.679724,-0.001544,-0.408979,0.001546,0.396372,-0.007875,-0.431760,0.001742,-0.574228
2,418597,2,4,57,20,8,142,0.005008,-0.115845,0.005914,...,0.004458,-0.451590,0.011481,-0.536967,0.009520,-0.368585,0.000000,0.022713,-0.002066,-0.207362
3,418598,2,5,35,12,5,91,0.015370,-0.090295,-0.013738,...,-0.010984,-0.039714,0.037018,0.665132,-0.003097,0.141991,-0.008191,-0.172382,0.005145,-0.353172
4,418599,2,6,57,20,8,142,0.011419,-0.289027,0.022807,...,0.001045,-0.565747,0.004304,-0.506291,-0.026469,-0.280666,0.010743,0.365773,-0.011134,0.933284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198424,617019,222,5707,52,18,7,122,0.010188,-0.476830,-0.006419,...,-0.001028,-0.515748,0.019115,0.361119,-0.002090,-0.132224,0.015389,-0.014298,-0.008680,0.128657
198425,617020,222,5710,33,10,4,83,-0.000838,-0.063269,-0.026928,...,-0.007136,-0.203097,0.032965,0.108639,0.013488,-0.458271,0.019894,-0.353293,0.013513,-0.219671
198426,617021,222,5714,49,17,7,113,0.005941,-0.506350,-0.016363,...,-0.016931,0.340198,0.002121,1.087437,-0.012910,1.791362,-0.057857,6.330687,-0.000493,1.175063
198427,617022,222,5715,56,20,8,138,0.001775,-0.530113,-0.014214,...,0.019386,2.046782,0.023299,0.229290,-0.020338,0.061626,0.022176,-0.414312,-0.000692,-0.293960
198428,617023,222,5716,50,17,7,114,-0.008352,-0.506224,0.006073,...,-0.007219,-0.002671,0.009992,-0.250345,-0.007770,0.408225,0.027816,0.269808,0.009172,0.291961

In [272]:
'''print(max(abs(test['RET_1_SECTOR_DATE_<function var_over_mean at 0x115d39b80>'])))
print(max(abs(test['RET_1_INDUSTRY_DATE_<function var_over_mean at 0x119f02af0>'])))
print(max(abs(test['RET_1_INDUSTRY_GROUP_DATE_<function var_over_mean at 0x119c4d160>'])))
print(max(abs(test['RET_1_SUB_INDUSTRY_DATE_<function var_over_mean at 0x119c9bee0>'])))'''

"print(max(abs(test['RET_1_SECTOR_DATE_<function var_over_mean at 0x115d39b80>'])))\nprint(max(abs(test['RET_1_INDUSTRY_DATE_<function var_over_mean at 0x119f02af0>'])))\nprint(max(abs(test['RET_1_INDUSTRY_GROUP_DATE_<function var_over_mean at 0x119c4d160>'])))\nprint(max(abs(test['RET_1_SUB_INDUSTRY_DATE_<function var_over_mean at 0x119c9bee0>'])))"

In [281]:
test

,ID,DATE,STOCK,INDUSTRY,INDUSTRY_GROUP,SECTOR,SUB_INDUSTRY,RET_1,VOLUME_1,RET_2,...,RET_16,VOLUME_16,RET_17,VOLUME_17,RET_18,VOLUME_18,RET_19,VOLUME_19,RET_20,VOLUME_20
0,418595,2,0,37,12,5,94,0.020208,0.146176,0.010059,...,0.022364,-0.301163,-0.001035,-0.416533,-0.000148,-0.004548,-0.000148,-0.161792,0.016997,-0.007221
1,418596,2,1,15,4,3,37,0.009134,-0.251631,0.021913,...,-0.002062,-0.679724,-0.001544,-0.408979,0.001546,0.396372,-0.007875,-0.431760,0.001742,-0.574228
2,418597,2,4,57,20,8,142,0.005008,-0.115845,0.005914,...,0.004458,-0.451590,0.011481,-0.536967,0.009520,-0.368585,0.000000,0.022713,-0.002066,-0.207362
3,418598,2,5,35,12,5,91,0.015370,-0.090295,-0.013738,...,-0.010984,-0.039714,0.037018,0.665132,-0.003097,0.141991,-0.008191,-0.172382,0.005145,-0.353172
4,418599,2,6,57,20,8,142,0.011419,-0.289027,0.022807,...,0.001045,-0.565747,0.004304,-0.506291,-0.026469,-0.280666,0.010743,0.365773,-0.011134,0.933284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198424,617019,222,5707,52,18,7,122,0.010188,-0.476830,-0.006419,...,-0.001028,-0.515748,0.019115,0.361119,-0.002090,-0.132224,0.015389,-0.014298,-0.008680,0.128657
198425,617020,222,5710,33,10,4,83,-0.000838,-0.063269,-0.026928,...,-0.007136,-0.203097,0.032965,0.108639,0.013488,-0.458271,0.019894,-0.353293,0.013513,-0.219671
198426,617021,222,5714,49,17,7,113,0.005941,-0.506350,-0.016363,...,-0.016931,0.340198,0.002121,1.087437,-0.012910,1.791362,-0.057857,6.330687,-0.000493,1.175063
198427,617022,222,5715,56,20,8,138,0.001775,-0.530113,-0.014214,...,0.019386,2.046782,0.023299,0.229290,-0.020338,0.061626,0.022176,-0.414312,-0.000692,-0.293960
198428,617023,222,5716,50,17,7,114,-0.008352,-0.506224,0.006073,...,-0.007219,-0.002671,0.009992,-0.250345,-0.007770,0.408225,0.027816,0.269808,0.009172,0.291961

In [4]:
Ret_id = drop_id = list(range(17,28,2))
test = test.dropna(subset=test.columns[Ret_id], how='all')
test

,ID,DATE,STOCK,INDUSTRY,INDUSTRY_GROUP,SECTOR,SUB_INDUSTRY,RET_1,VOLUME_1,RET_2,...,RET_16,VOLUME_16,RET_17,VOLUME_17,RET_18,VOLUME_18,RET_19,VOLUME_19,RET_20,VOLUME_20
0,418595,2,0,37,12,5,94,0.020208,0.146176,0.010059,...,0.022364,-0.301163,-0.001035,-0.416533,-0.000148,-0.004548,-0.000148,-0.161792,0.016997,-0.007221
1,418596,2,1,15,4,3,37,0.009134,-0.251631,0.021913,...,-0.002062,-0.679724,-0.001544,-0.408979,0.001546,0.396372,-0.007875,-0.431760,0.001742,-0.574228
2,418597,2,4,57,20,8,142,0.005008,-0.115845,0.005914,...,0.004458,-0.451590,0.011481,-0.536967,0.009520,-0.368585,0.000000,0.022713,-0.002066,-0.207362
3,418598,2,5,35,12,5,91,0.015370,-0.090295,-0.013738,...,-0.010984,-0.039714,0.037018,0.665132,-0.003097,0.141991,-0.008191,-0.172382,0.005145,-0.353172
4,418599,2,6,57,20,8,142,0.011419,-0.289027,0.022807,...,0.001045,-0.565747,0.004304,-0.506291,-0.026469,-0.280666,0.010743,0.365773,-0.011134,0.933284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198424,617019,222,5707,52,18,7,122,0.010188,-0.476830,-0.006419,...,-0.001028,-0.515748,0.019115,0.361119,-0.002090,-0.132224,0.015389,-0.014298,-0.008680,0.128657
198425,617020,222,5710,33,10,4,83,-0.000838,-0.063269,-0.026928,...,-0.007136,-0.203097,0.032965,0.108639,0.013488,-0.458271,0.019894,-0.353293,0.013513,-0.219671
198426,617021,222,5714,49,17,7,113,0.005941,-0.506350,-0.016363,...,-0.016931,0.340198,0.002121,1.087437,-0.012910,1.791362,-0.057857,6.330687,-0.000493,1.175063
198427,617022,222,5715,56,20,8,138,0.001775,-0.530113,-0.014214,...,0.019386,2.046782,0.023299,0.229290,-0.020338,0.061626,0.022176,-0.414312,-0.000692,-0.293960
198428,617023,222,5716,50,17,7,114,-0.008352,-0.506224,0.006073,...,-0.007219,-0.002671,0.009992,-0.250345,-0.007770,0.408225,0.027816,0.269808,0.009172,0.291961

In [8]:
for i in range(1,20):
    test['RET_%d_diff' %i] = test['RET_%d' %i]-test['RET_%d' %(i+1)]
'''for i in range(1,20):
    test['RET_%d_diff' %i] = np.nan
for ind in test.index:
    for i in range(1,20):
        if pd.notnull(test['RET_%d' %i][ind]) and pd.notnull(test['RET_%d' %(i+1)][ind]):
            test['RET_%d_diff' %i][ind] = test['RET_%d' %i][ind] - test['RET_%d' %(i+1)][ind]'''

/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/4054176500.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['RET_%d_diff' %i] = test['RET_%d' %i]-test['RET_%d' %(i+1)]

"for i in range(1,20):\n    test['RET_%d_diff' %i] = np.nan\nfor ind in test.index:\n    for i in range(1,20):\n        if pd.notnull(test['RET_%d' %i][ind]) and pd.notnull(test['RET_%d' %(i+1)][ind]):\n            test['RET_%d_diff' %i][ind] = test['RET_%d' %i][ind] - test['RET_%d' %(i+1)][ind]"

In [9]:
new_features = []
shifts = range(1,20)  # Choose some different shifts\n",
statistics = ['mean']  # the type of stat\n",
gb_features = ['SECTOR', 'DATE']
target_feature_1 = 'RET'
target_feature_2 = 'diff'
tmp_name = '_'.join(gb_features)
for shift in shifts:
    for stat in statistics:
        name = f'{target_feature_1}_{shift}_{target_feature_2}_{tmp_name}_{stat}'
        feat = f'{target_feature_1}_{shift}_{target_feature_2}'
        new_features.append(name)
        for data in [test]:
            data[name] = data.groupby(gb_features)[feat].transform(stat)

/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)
/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)
/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)
/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)
/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)
/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)
/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)
/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)
/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)
/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)
/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)
/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)
/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)
/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)
/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)
/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)
/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)
/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)
/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/490834707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[name] = data.groupby(gb_features)[feat].transform(stat)

In [157]:

test

,ID,DATE,STOCK,INDUSTRY,INDUSTRY_GROUP,SECTOR,SUB_INDUSTRY,RET_1,VOLUME_1,RET_2,...,RET_10_diff_SECTOR_DATE_mean,RET_11_diff_SECTOR_DATE_mean,RET_12_diff_SECTOR_DATE_mean,RET_13_diff_SECTOR_DATE_mean,RET_14_diff_SECTOR_DATE_mean,RET_15_diff_SECTOR_DATE_mean,RET_16_diff_SECTOR_DATE_mean,RET_17_diff_SECTOR_DATE_mean,RET_18_diff_SECTOR_DATE_mean,RET_19_diff_SECTOR_DATE_mean
0,418595,2,0,37,12,5,94,0.020208,0.146176,0.010059,...,0.013294,-0.001329,0.001627,0.002041,-0.010607,0.000573,-0.005125,-0.003978,0.013762,-0.002685
1,418596,2,1,15,4,3,37,0.009134,-0.251631,0.021913,...,0.006123,0.014758,-0.004769,-0.002545,-0.012656,-0.001405,0.004185,-0.013836,0.018676,-0.008830
2,418597,2,4,57,20,8,142,0.005008,-0.115845,0.005914,...,0.005508,0.007219,0.007972,-0.000509,-0.020834,0.006181,-0.005852,-0.003836,0.008877,-0.007165
3,418598,2,5,35,12,5,91,0.015370,-0.090295,-0.013738,...,0.013294,-0.001329,0.001627,0.002041,-0.010607,0.000573,-0.005125,-0.003978,0.013762,-0.002685
4,418599,2,6,57,20,8,142,0.011419,-0.289027,0.022807,...,0.005508,0.007219,0.007972,-0.000509,-0.020834,0.006181,-0.005852,-0.003836,0.008877,-0.007165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198424,617019,222,5707,52,18,7,122,0.010188,-0.476830,-0.006419,...,-0.021242,0.004433,0.030523,-0.028820,0.027521,-0.008865,-0.014611,0.014528,-0.033721,0.027324
198425,617020,222,5710,33,10,4,83,-0.000838,-0.063269,-0.026928,...,-0.021520,0.015821,0.029707,-0.039755,0.030457,-0.011208,-0.010594,0.009899,-0.021835,0.017738
198426,617021,222,5714,49,17,7,113,0.005941,-0.506350,-0.016363,...,-0.021242,0.004433,0.030523,-0.028820,0.027521,-0.008865,-0.014611,0.014528,-0.033721,0.027324
198427,617022,222,5715,56,20,8,138,0.001775,-0.530113,-0.014214,...,-0.021330,0.012612,0.027333,-0.028390,0.021692,-0.002416,-0.014774,0.001233,-0.011652,0.019002
198428,617023,222,5716,50,17,7,114,-0.008352,-0.506224,0.006073,...,-0.021242,0.004433,0.030523,-0.028820,0.027521,-0.008865,-0.014611,0.014528,-0.033721,0.027324

,ID,DATE,STOCK,INDUSTRY,INDUSTRY_GROUP,SECTOR,SUB_INDUSTRY,RET_1,VOLUME_1,RET_2,...,RET_10_diff_SECTOR_DATE_mean,RET_11_diff_SECTOR_DATE_mean,RET_12_diff_SECTOR_DATE_mean,RET_13_diff_SECTOR_DATE_mean,RET_14_diff_SECTOR_DATE_mean,RET_15_diff_SECTOR_DATE_mean,RET_16_diff_SECTOR_DATE_mean,RET_17_diff_SECTOR_DATE_mean,RET_18_diff_SECTOR_DATE_mean,RET_19_diff_SECTOR_DATE_mean
0,418595,2,0,37,12,5,94,0.020208,0.146176,0.010059,...,0.013294,-0.001329,0.001627,0.002041,-0.010607,0.000573,-0.005125,-0.003978,0.013762,-0.002685
1,418596,2,1,15,4,3,37,0.009134,-0.251631,0.021913,...,0.006123,0.014758,-0.004769,-0.002545,-0.012656,-0.001405,0.004185,-0.013836,0.018676,-0.008830
2,418597,2,4,57,20,8,142,0.005008,-0.115845,0.005914,...,0.005508,0.007219,0.007972,-0.000509,-0.020834,0.006181,-0.005852,-0.003836,0.008877,-0.007165
3,418598,2,5,35,12,5,91,0.015370,-0.090295,-0.013738,...,0.013294,-0.001329,0.001627,0.002041,-0.010607,0.000573,-0.005125,-0.003978,0.013762,-0.002685
4,418599,2,6,57,20,8,142,0.011419,-0.289027,0.022807,...,0.005508,0.007219,0.007972,-0.000509,-0.020834,0.006181,-0.005852,-0.003836,0.008877,-0.007165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198424,617019,222,5707,52,18,7,122,0.010188,-0.476830,-0.006419,...,-0.021242,0.004433,0.030523,-0.028820,0.027521,-0.008865,-0.014611,0.014528,-0.033721,0.027324
198425,617020,222,5710,33,10,4,83,-0.000838,-0.063269,-0.026928,...,-0.021520,0.015821,0.029707,-0.039755,0.030457,-0.011208,-0.010594,0.009899,-0.021835,0.017738
198426,617021,222,5714,49,17,7,113,0.005941,-0.506350,-0.016363,...,-0.021242,0.004433,0.030523,-0.028820,0.027521,-0.008865,-0.014611,0.014528,-0.033721,0.027324
198427,617022,222,5715,56,20,8,138,0.001775,-0.530113,-0.014214,...,-0.021330,0.012612,0.027333,-0.028390,0.021692,-0.002416,-0.014774,0.001233,-0.011652,0.019002
198428,617023,222,5716,50,17,7,114,-0.008352,-0.506224,0.006073,...,-0.021242,0.004433,0.030523,-0.028820,0.027521,-0.008865,-0.014611,0.014528,-0.033721,0.027324

In [10]:
for ind in test.index:
    for i in range(19,0,-1):
        if pd.isnull(test['RET_%d' %i][ind]) and pd.notnull(test['RET_%d' %(i+1)][ind]):
            test['RET_%d' %i][ind] = test['RET_%d_diff_SECTOR_DATE_mean' %i][ind] + test['RET_%d' %(i+1)][ind]

/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/4213055390.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['RET_%d' %i][ind] = test['RET_%d_diff_SECTOR_DATE_mean' %i][ind] + test['RET_%d' %(i+1)][ind]

In [11]:
val = 0
for i in range(1,19):
    val += test['RET_%d' %i].isnull().sum()
val

6336

In [13]:
for ind in test.index:
    for i in range(1,20):
        if pd.isnull(test['RET_%d' %(i+1)][ind]) and pd.notnull(test['RET_%d' %(i)][ind]):
            test['RET_%d' %(i+1)][ind] = -test['RET_%d_diff_SECTOR_DATE_mean' %i][ind] + test['RET_%d' %(i)][ind]

val = 0
for i in range(1,19):
    val += test['RET_%d' %i].isnull().sum()
val

/var/folders/28/fn5618590t1c1h5275yfw7mc0000gn/T/ipykernel_15883/858559744.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['RET_%d' %(i+1)][ind] = -test['RET_%d_diff_SECTOR_DATE_mean' %i][ind] + test['RET_%d' %(i)][ind]

0

In [ ]:

drop_id = list(range(8,48,2))
print(drop_id)
Ret = data.drop(data.columns[drop_id], axis = 1)
drp_id = list(range(27,Ret.shape[1]))
print(drp_id)
Ret = Ret.drop(Ret.columns[drp_id], axis = 1)

In [14]:
test

,ID,DATE,STOCK,INDUSTRY,INDUSTRY_GROUP,SECTOR,SUB_INDUSTRY,RET_1,VOLUME_1,RET_2,...,RET_10_diff_SECTOR_DATE_mean,RET_11_diff_SECTOR_DATE_mean,RET_12_diff_SECTOR_DATE_mean,RET_13_diff_SECTOR_DATE_mean,RET_14_diff_SECTOR_DATE_mean,RET_15_diff_SECTOR_DATE_mean,RET_16_diff_SECTOR_DATE_mean,RET_17_diff_SECTOR_DATE_mean,RET_18_diff_SECTOR_DATE_mean,RET_19_diff_SECTOR_DATE_mean
0,418595,2,0,37,12,5,94,0.020208,0.146176,0.010059,...,0.013294,-0.001329,0.001627,0.002041,-0.010607,0.000573,-0.005125,-0.003978,0.013762,-0.002685
1,418596,2,1,15,4,3,37,0.009134,-0.251631,0.021913,...,0.006123,0.014758,-0.004769,-0.002545,-0.012656,-0.001405,0.004185,-0.013836,0.018676,-0.008830
2,418597,2,4,57,20,8,142,0.005008,-0.115845,0.005914,...,0.005508,0.007219,0.007972,-0.000509,-0.020834,0.006181,-0.005852,-0.003836,0.008877,-0.007165
3,418598,2,5,35,12,5,91,0.015370,-0.090295,-0.013738,...,0.013294,-0.001329,0.001627,0.002041,-0.010607,0.000573,-0.005125,-0.003978,0.013762,-0.002685
4,418599,2,6,57,20,8,142,0.011419,-0.289027,0.022807,...,0.005508,0.007219,0.007972,-0.000509,-0.020834,0.006181,-0.005852,-0.003836,0.008877,-0.007165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198424,617019,222,5707,52,18,7,122,0.010188,-0.476830,-0.006419,...,-0.021242,0.004433,0.030523,-0.028820,0.027521,-0.008865,-0.014611,0.014528,-0.033721,0.027324
198425,617020,222,5710,33,10,4,83,-0.000838,-0.063269,-0.026928,...,-0.021520,0.015821,0.029707,-0.039755,0.030457,-0.011208,-0.010594,0.009899,-0.021835,0.017738
198426,617021,222,5714,49,17,7,113,0.005941,-0.506350,-0.016363,...,-0.021242,0.004433,0.030523,-0.028820,0.027521,-0.008865,-0.014611,0.014528,-0.033721,0.027324
198427,617022,222,5715,56,20,8,138,0.001775,-0.530113,-0.014214,...,-0.021330,0.012612,0.027333,-0.028390,0.021692,-0.002416,-0.014774,0.001233,-0.011652,0.019002
198428,617023,222,5716,50,17,7,114,-0.008352,-0.506224,0.006073,...,-0.021242,0.004433,0.030523,-0.028820,0.027521,-0.008865,-0.014611,0.014528,-0.033721,0.027324